<h1>Listing app_conditions</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_conditions.each do |app_condition| %>
      <tr>
        <td><%= app_condition.status %></td>
        <td><%= app_condition.user %></td>
        <td><%= app_condition.reason %></td>
        <td><%= link_to 'Show', app_condition %></td>
        <td><%= link_to 'Edit', edit_app_condition_path(app_condition) %></td>
        <td><%= link_to 'Destroy', app_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App condition', new_app_condition_path %>
