<p id="notice"><%= notice %></p>

<p>
  <strong>ステータス(1:通常, 2:強制稼働, 3:強制休止)：</strong>
  <%= @app_condition.status %>
</p>

<p>
  <strong>変更者：</strong>
  <%= @app_condition.user %>
</p>

<p>
  <strong>変更理由：</strong>
  <%= @app_condition.reason %>
</p>

<%= link_to 'Edit', edit_app_condition_path(@app_condition) %> |
<%= link_to 'Back', app_conditions_path %>
