<style>
  div {
      margin: 20px;
  }
</style>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
        <%= f.label :username, '表示名' %><br>
        <%= f.text_field :username %>
    </div>
    <div class="field">
        <%= f.label :phonenumber, '電話番号 ※"+81"の後に"0"を抜いた電話番号を入力 (例)+819012345678' %><br>
        <%= f.text_field :phonenumber, placeholder: "+819012345678" %>
    </div>
    <div class="field">
        <%= f.label :profilepicture, 'プロフィール画像 ※URLで入力' %><br>
        <%= f.text_field :profilepicture, placeholder: "http://***.jpg" %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
