<h2>登録済みユーザーリスト</h2>
<h5>実際の画面にもこの順番で表示されます</h5>

<style>
td, th {
    padding: 10px 10px;
}
</style>

<table>
  <thead>
    <tr>
      <th>表示名</th>
      <th>電話番号</th>
      <th>プロフィール画像</th>
      <th>Slack用ID</th>
      <th>更新日時<br />(並び替えに利用。古いものが上にきます)</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.phonenumber %></td>
        <td><a href="<%= user.profilepicture %>" target="_blank"><img src="<%= user.profilepicture %>" height="30" /><br /><%= user.profilepicture %></a></td>
        <td><%= user.slack_id %></td>
        <td><%= user.updated_at %></td>
        <!--<td><%# link_to 'Show', user %></td>-->
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4><%= link_to '新規追加', new_user_path %></h4>
