<p id="notice"><%= notice %></p>

<p>
  <strong>表示名:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @user.phonenumber %>
</p>

<p>
  <strong>プロフィール画像:</strong>
  <a href="<%= @user.profilepicture %>" target="_blank"><%= @user.profilepicture %></a><br />
  <a href="<%= @user.profilepicture %>" target="_blank"><img src="<%= @user.profilepicture %>" height="200" /></a>
</p>

<p>
  <strong>更新日時(並び替えに利用):</strong>
  <%= @user.updated_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
