<div id="wrapper">
  <div class="rect rect1"></div>
  <div class="rect rect2"></div>
  <div class="rect rect3"></div>
  <div class="rect rect4"></div>
</div>
<div id="waiting">
  <h1><img src="/assets/images/logo01.svg" alt="n2p"></h1>
  <div class='loader-ring'>
    <div class='loader-ring-light'></div>
    <div class='loader-ring-track'></div>
    <div class='loader-ring-text'>CALL</div>
  </div>
  <p class="maintxt">ようこそお越しくださいました!!<br>画面をタップしてください</p>
</div>
<div id="modal_window">
  <div id="main_window">
    <p></p>
    <div class="clearfix">
      <button type="button" id="call">
        呼び出す
      </button>
      <button type="button" id="cancel">
        キャンセル
      </button>
    </div>
  </div>
</div>
<div id="alert_success">
  <h1><img src="/assets/images/logo01.svg" alt="n2p"></h1>
  <img src="/assets/images/response.svg" alt="" class="img-response" />
  <img src="http://n2p.co.jp/img/receptionicons/daidaihyou.png" alt="" class="img-rounded" />
  <p class="nametxt">N2P</p>
  <p class="maintxt">を呼び出しています<span class="dot01">･</span><span class="dot02">･</span><span class="dot03">･</span></p>
  <p class="maintxt-response">おっと、気づいたようです。<br>いましばらくお待ちください。</p>
  <div class="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <button type="button" class="cancelbtn">
    キャンセル
  </button>
</div>
<div id="alert_warning">
  <h1><img src="/assets/images/logo01.svg" alt="n2p"></h1>
  <p class="maintxt">
    うまくつながらないようです<br>
    あらためて呼び出してください<br>
    それでもつながらない場合はドアからお入りいただき、<br>
    エントランスの呼び鈴を鳴らしてください
  </p>
  <button type="button" class="cancelbtn">
    呼び出し画面へ戻る
  </button>
</div>
<div id="form_main" class="container text-center">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div id="header">
        <h1><img src="/assets/images/logo01.svg" width="384" alt="n2p"></h1>
        <p class="maintxt">画面をタップして担当者を呼び出してください</p>
        <hr />
      </div>
      <div id="radio_area">
        <%= form_tag({action: "call"}, method: "POST", class: "form-horizontal", id: "contactform" , role: "form") do %>
            <% @users.each do |user| %>
                <div class="form-group">
                  <div class="col-md-12 col-sm-12">
                    <div class="radio">
                      <label><input type="radio" name="phone" value="<%= user.phonenumber %>"><img src="<%= user.profilepicture %>" alt="" class="img-rounded" width="36" height="36" /><%= user.username %></label>
                    </div>
                  </div>
                </div>
            <% end %>
            <div class="form-group" id="submit_btn">
              <%= submit_tag("呼び出し", class: "btn btn-success btn-lg text-center") %>
            </div>
        <% end %>
      </div><!-- /radioArea -->
    </div>
  </div>
</div><!-- /page -->
