<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta http-equiv="Refresh" content="300"> <!-- 5分(=300秒)に一回リロードする設定。営業時間判定に使う。 -->
  <title>受付 | N2P</title>
  <meta name=”robots” content=”noindex”>
  <link rel="icon" type="image/png" href="http://n2p.co.jp/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="http://n2p.co.jp/favicon.ico" type="image/x-icon">
</head>
<body class="container">

<%= yield %>

</body>
</html>
